{% polymer import "my-node/my-node.html" %}
<my-node{{ attributes.addClass(classes) }}
        hero-img-url="{{ file_url(node.field_image.entity.fileuri) }}">
  <marked-element>
    <div class="markdown-html"></div>
    <script type="text/markdown">
# {{ node.getTitle() | raw }}
{{ node.body.value | raw }}
      </script>
  </marked-element>
</my-node>